.card {
  position: relative;
  width: 200px;
  /* background: linear-gradient(180deg, #0e1a2a, #101b2d); */
  background: linear-gradient(180deg, #000, #101b2d);
  border-radius: 1rem;
  overflow: hidden;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25); */
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
}

.imageContainer {
  position: relative;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.noImage {
  color: #fff;
  font-size: 14px;
}

.badgeNew,
.badgeSale {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #e91e63;
  color: #fff;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 8px;
  font-weight: bold;
}

.badgeSale {
  background: #00bcd4;
  right: auto;
  left: 10px;
}

.info {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.rarity {
  color: #8FD4FF;
  background-color: #002139;
  width: fit-content;
  padding: 1px 14px 1px 14px;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 10px;
}

.name {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  color: #ccc;
  font-size: 14px;
}

.owned {
  background: #1eb980;
  color: #fff;
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 6px;
}
